 

<div class="container">
    <br>
        <h4> Fill The Form Below </h4>
    
    
          <!-- <form action="https://formspree.io/f/{correct513test@gmail.com}" method="post"> -->
            <form action="https://formspree.io/f/mgeqvene"
             method="post"> 
                
    
                <label> FIRST NAME </label>
                <input type="text" name="fname" placeholder="Enter Your first-name" required><br>
    
                <label> LAST NAME </label>
                <input type="text" name="lname" placeholder="Enter Your last-name" required><br>
    
                <label> AGE </label>
                <input type="number" name="age" placeholder="Enter Your age" required><br>
    
    
    
    
                <label> COLLEGE </label>
                <select name="COLLEGE"required style="width: 255px; height: 30px;">
                    <option> select </option>
                    <option> Sri Krishna Arts and Science College </option>
                    <option> PSG College of Arts & Science </option>
                    <option> PSG College Of Technology </option>
                    <option> CMS College of Science & Commerce </option>
                </select><br>
    
    
    
    
                <label> NUMBER </label>
                <input type="number" name="num" placeholder="Enter Your number" required><br>
    
                <label> EMAIL </label>
                <input type="email" name="email" id="Email" placeholder="Enter Your email" required><br>
    
                
                <!--textarea name="Address"  required style="width: 255px;">  </textarea><br> -->
                <label> ADDRESS </label>
                <input type="text" name="address"  placeholder="Enter Your text" required><br>
                <br>


                <div class="buttn">
                    <!-- <button type="submit" value="submit" class="btn btn-success">submit</button> -->
                    <button  type="submit"   value="Submit" class="btn rounded-pill  btn-success"> Submit </button>&nbsp;&nbsp;
                    <button type="reset"   value="reset" class="btn  rounded-pill btn-success"> Reset </button>
                </div>  
        </form>
    <br>
    
</div>