<header class="container-fluid bg-secondary p-2">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-light me-md-2" type="button">backward</button>
    <button class="btn btn-light " type="button">forward</button>
  </div>
</header>


<!-- <div class="one">
<div class="buttn d-grid gap-2 "  style="background-color: rgb(36, 15, 88);">
  <button type="button" class="btn btn-light me-md-2">backward</button>
  <button type="button" class="btn btn-light">forward</button>
  </div> -->



<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active"  data-bs-targrt="#myCarousel" style="transition-delay: 2s;" >
      <img src="../assets/img1.jpg" class="d-block w-100" alt="slide1">
    </div>
    <div class="carousel-item" data-bs-targrt="#myCarousel"  style="transition-delay: 2s;" >
      <img src="../assets/img2.jpg" class="d-block w-100" alt="slide2">
    </div>
    <div class="carousel-item" data-bs-targrt="#myCarousel"  style="transition-delay: 2s;" >
      <img src="../assets/img3.jpg" class="d-block w-100" alt="slide3">
    </div>
    <div class="carousel-item" data-bs-targrt="#myCarousel" style="transition-delay: 2s;" >
      <img src="../assets/img4.jpg" class="d-block w-100" alt="slide4">
    </div>
    <div class="carousel-item" data-bs-targrt="#myCarousel" style="transition-delay: 2s;" >
      <img src="../assets/img5.jpeg" class="d-block w-100" alt="slide5">
    </div>
    <div class="carousel-item" data-bs-targrt="#myCarousel" style="transition-delay: 2s;" >
      <img src="../assets/img6.png" class="d-block w-100" alt="slide6">
    </div>
    <div class="carousel-item" data-bs-targrt="#myCarousel" style="transition-delay: 2s;" >
      <img src="../assets/img7.jpg" class="d-block w-100" alt="slide7">
    </div>
    <div class="carousel-item" data-bs-targrt="#myCarousel" style="transition-delay: 2s;" >
      <img src="../assets/img8.jpg" class="d-block w-100" alt="slide8">
    </div>
  </div>
  <!-- <button class="carousel-control-prev" type="button"   data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button"   data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> -->
</div>




<app-form></app-form>